ion-img {
  max-width: 150px;
  width: 150px;
  margin: 2rem auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: left;
}

ion-icon {
  margin-right: 1rem;
}

ion-item-group {
  padding: 1rem 1.5rem 0;
  ion-item {
    --inner-padding-end: 0px;
  }
}

#container {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: flex-start;
}

#form {
  width: 90%;
  max-width: 500px;
  margin: auto;
  background-color: #fff;
}

#header-image {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  background-color: transparent;
}

#image-text {
  opacity: 0;
}

.btn-container {
  text-align: center;
}

.btn-container ion-button:first-child {
  display: block;
}

.btn-container ion-button:last-child {
  display: none;
}

.form-error {
  color: ;
}

@media (min-width: 920px) {
  #container {
    justify-content: center;
    height: 100%;
  }

  #header-image {
    background-color: #fff;
    transition: all 0.6s;
  }

  #image-text {
    font-size: 1.5rem;
    opacity: 1;
    margin: 0.8rem;
    transition: all 0.6s;
  }

  .btn-container ion-button:first-child {
    display: none;
  }

  .btn-container ion-button:last-child {
    display: inline-block;
  }
}
